<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="/images/avatar.jpg" alt="" /></span>
            <h1 id="logo"><a href="/">Ethan Alexander Garc&iacute;a Baker</a></h1>
            <p>B. Phil. Candidate<br />
            University of Pittsburgh</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="/">About</a></li>
                <li><a href="/#projs">Projects</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="http://twitter.com/ethanabaker" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="http://facebook.com/ethanabaker" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="https://www.linkedin.com/in/ethanagbaker" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                <li><a href="http://github.com/ethanagbaker" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href= "mailto:ethanagbaker+website@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>

